@import url(reset.css);
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', ''sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', ''sans-serif */

/* common */
body {
  font-size: 14px;
  font-family: 'Noto Sans', 'Noto Sans KR', Helvetica, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

hr {
  display: none;
}

/* layout */
#wrap {}



#header {
  z-index: 40;
  position: relative;
  width: 100%;
  height: 70px;
}

.header_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #f3f3f3;
  transition: height 0.8s ease 0s;
}

.header_inner {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

#container {
  width: 100%;
}

.spot {
  width: 100%;
  height: 320px;
  background: url(../images/faq_visual_img.jpg) no-repeat 50% 0;
  color: #fff;
}

.spot_inner {
  width: 1142px;
  height: 320px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
}

#content {
  width: 1142px;
  margin: 0 auto;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 185px;
  background-color: #474a4f;
  position: relative;
}

.foot_inner {
  width: 1142px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}



/* header */
/* 로고 */
h1.logo {
  position: absolute;
  left: 30px;
  top: 18px;
}

h1.logo>a {
  display: block;
  width: 176px;
  height: 36px;
  background: url(../images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}

/* 주메뉴 */
nav.gnb {}

nav.gnb>ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

nav.gnb>ul>li {
  display: inline-block;
  padding: 0 45px;
  line-height: 70px;
  height: 0;
}

nav.gnb>ul>li>a {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

nav.gnb>ul>li>a::after {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  background: #043285;
  transform: translate(-50%);
  transition: width 0.4s ease;
  content: "";
}

nav.gnb>ul>li:hover>a::after {
  opacity: 1;
  width: 100%;
  height: 3px;
}


nav.gnb>ul>li>div {
  display: none;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  line-height: 40px;
  background: #f3f3f3;
}

nav.gnb>ul>li.on>div {
  display: block;
}

/* 내가한거 */
/* nav.gnb>ul>li.on:nth-child(1)>div{height: 500px;}
nav.gnb>ul>li.on:nth-child(2)>div{height: 270px;}
nav.gnb>ul>li.on:nth-child(3)>div{height: 200px;}
nav.gnb>ul>li.on:nth-child(4)>div{height: 450px;}
nav.gnb>ul>li.on:nth-child(5)>div{height: 250px;} */


nav.gnb>ul>li>div>ul {
  margin: 50px 0;
}

nav.gnb>ul>li>div>ul>li {
  display: inline-block;
  padding: 0 40px;
  border-right: 1px solid #ddd;
  vertical-align: top;
  text-align: left;
}

nav.gnb>ul>li>div>ul>li:last-child {
  border-right: none;
}

nav.gnb>ul>li:nth-child(1)>div>ul>li {
  height: 270px;
}

nav.gnb>ul>li:nth-child(2)>div>ul>li {
  height: 200px;
}

nav.gnb>ul>li:nth-child(3)>div>ul>li {
  height: 121px;
}

nav.gnb>ul>li:nth-child(4)>div>ul>li {
  height: 231px;
}

nav.gnb>ul>li:nth-child(5)>div>ul>li {
  height: 164px;
}



nav.gnb>ul>li>div>ul>li>a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #043285;
}

nav.gnb>ul>li>div>ul>li>ul {
  float: left;
}

nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2) {
  margin-left: 40px;
}

.gnb_button {
  margin-bottom: 30px;
}

.gnb_button>a {
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 10px 20px;
  background: #fff url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%;
  text-align: left;
  line-height: 30px;
}

.gnb_button>a>strong {
  font-size: 18px;
  font-weight: 600;
}

nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a {
  width: 780px;
  background-position: 97% 50%;
}

nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a>strong {
  color: #1428a0;
}

nav.gnb>ul>li:nth-child(4)>div>div.gnb_button>a {
  width: 320px;
}

/* 탑메뉴 */
dl.topMenu {
  position: absolute;
  right: 60px;
  top: 0;
}

dl.topMenu>dd {
  float: left;
}

dl.topMenu>dd>a {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}

dl.topMenu>dd>a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background-color: #ddd;
}

dl.topMenu>dd:first-of-type>a {
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/ico_inq.png) no-repeat 50% 30px;
}

dl.topMenu>dd:first-of-type>a::after {
  display: none;
}


dl.topMenu>dd>ul {
  display: none;
  position: absolute;
  top: 68px;
  width: 60px;
  border-top: 5px solid #1428a0;
  padding-top: 10px;
  background: #fff;
}

dl.topMenu>dd:hover>ul {
  display: block;
}

dl.topMenu>dd:nth-of-type(2)>ul>li {
  display: block;
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ededed url(../images/utill_sns_ico.png)no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}

dl.topMenu>dd:nth-of-type(2)>ul>li:nth-of-type(1) {
  background-position: -30px 0;
}

dl.topMenu>dd:nth-of-type(2)>ul>li:nth-of-type(2) {
  background-position: -60px 0;
}

dl.topMenu>dd:nth-of-type(2)>ul>li:nth-of-type(3) {
  background-position: 0px 0;
}

dl.topMenu>dd:nth-of-type(2)>ul>li:nth-of-type(4) {
  background-position: -120px 0;
}

dl.topMenu>dd:last-of-type>ul {
  height: 130px;
}

dl.topMenu>dd:last-of-type>ul>li {
  text-align: center;
  padding: 10px 0;
}


/* 혼자한거 비효율적 */
/* dl.topMenu>dd>ul>li{text-indent: -9999px; overflow: hidden;}
dl.topMenu>dd>ul>li:nth-of-type(1){
 width: 30px;height: 30px; border-radius: 50%; background:#ccc url(../images/utill_sns_ico.png) no-repeat -30px 50%;margin:10px 15px;}
dl.topMenu>dd>ul>li:nth-of-type(2){
width: 30px;height: 30px; border-radius: 50%; background:#ccc url(../images/utill_sns_ico.png) no-repeat -60px 50%;margin:10px 15px;}
dl.topMenu>dd>ul>li:nth-of-type(3){
  width: 30px;height: 30px; border-radius: 50%; background:#ccc url(../images/utill_sns_ico.png) no-repeat 0px 50%;margin:10px 15px;}
 dl.topMenu>dd>ul>li:nth-of-type(4){
 width: 30px;height: 30px; border-radius: 50%; background:#ccc url(../images/utill_sns_ico.png) no-repeat -120px 50%;margin:10px 15px 20px;} */


/* 검색버튼 */
div.btn_srch {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 70px;
  background: #043285 url(../images/btn_srch_ico.png)no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

/* 검색박스 */

#srch {
  width: 600px;
  height: 55px;
  border: none;
  text-indent: 20px;
}

div.srch_wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

div.srch_wrap.on {
  display: block;
}

div.srch_inner {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 200px;
  background: url(../images/srch_pop_bg.jpg)no-repeat 50% 50%;
  padding-top: 60px;
}

div.srch_inner>form {
  width: 655px;
  margin: 0 auto;
}

div.srch_inner>form>fieldset {
  width: 100%;
  height: 55px;
  background: #fff;
  margin-bottom: 20px;
}

div.srch_inner button[type="button"] {
  width: 45px;
  height: 45px;
  transform: translate(1px, 2px);
  background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
}

div.srch_inner>form>ul {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 20px;
}

div.srch_inner>form>ul>li {
  float: left;
  height: 45px;
  padding: 0 29px;
  background: #eee url(../images/btn_arrow_ico_m.png)no-repeat 90% 50%;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 45px;
}

div.srch_inner>form>ul>li:last-child {
  float: right;
  margin-right: -0;
}

a.btn_srch_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 70px;
  background: #043285 url(../images/srch_pop_close.png)no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
}

/* main_visual */
ul.slide_wrap {
  width: 100%;
  min-width: 830px;
}

li.slide {
  z-index: 1;
  width: 100%;
}

li.slide>video {
  width: 100%;
  object-fit: cover;
}

li.slide>p {
  position: absolute;
  left: 10.2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 52px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
}

/* container */

/* spot */
.spot_inner {
  position: relative;
}

.spot_inner h2 {
  font-size: 46px;
  margin-bottom: 15px;
}

.spot_inner p {
  font-size: 16px;
  color: #eee;
}

.spot_inner p.path {
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: right;
  font-size: 14px;
  color: #ccc;
}

/* //spot */

/* content */
#content {
  padding: 100px 0;
}

#content h3 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
  line-height: 1;
}

#content h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #0079cc;
  margin: 20px 0 30px;
}

/* faq */

div.faq {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 60px;
}

div.faq {
  line-height: 45px;
  font-size: 16px;
}

div.faq a {
  display: block;
  width: 160px;
  height: 45px;
  background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 90% 50%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
}

/* step1 */
.step1 ul {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.step1 ul li {
  flex: 1;
}

.step1>ul>li>a {
  display: block;
  width: 100%;
  height: 170px;
  border: 1px solid #ccc;
  border-right: none;
  padding-top: 120px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
}

.step1>ul>li:last-child>a {
  border-right: 1px solid #ccc;
}


/* step2 */
.step2>p {
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.step2>p.essential {
  text-align: right;
  margin-bottom: 10px;
}

.step2>form>fieldset>dl {
  border-top: 1px solid #333;
  padding: 50px 80px;
  background-color: #f3f3f3;
}

.step2>form dt {
  font-size: 20px;
  font-weight: 600;
}

.step2>form dt>label>span {
  padding-right: 5px;
  color: #1a73b7;
  font-size: 14px;
}

.step2>form dl input,
.step2>form dl select {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  margin: 20px 0;
  box-sizing: border-box;
  text-indent: 10px;
}

.step2>form textarea {
  width: 100%;
  height: 260px;
  padding: 18px;
  border: 1px solid #ccc;
  margin: 20px 0;
  box-sizing: border-box;
}

.step2>form dd.product {
  display: flex;
  justify-content: space-between;
}

.step2>form dd.product select {
  width: 310px;
}

.step2>form dd.separate {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.step2>form dd.user {
  display: flex;
  justify-content: space-between;
}

.step2>form dd.user input {
  width: 478px;
}

.step2>form dd.phone_number {
  margin-bottom: 10px;
}

.step2>form dd.phone_number input:first-of-type {
  width: 307px;
  margin-right: 14px;
}

.step2>form dd.phone_number input:last-of-type {
  width: 620px;
  margin-left: 14px;
}

.step2>form dd.user p {
  padding-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.step2>form dd.attach input[type="text"] {
  width: 794px;
  margin-right: 20px;
  background: #fff;
}

.step2>form dd.attach label {
  display: inline-block;
  width: 160px;
  height: 45px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.step2>form dd.attach input[type="file"] {
  display: none;
}

/* 개인정보동의 */

.step2 form h4 {
  font-size: 30px;
  margin: 80px 0 20px;
}

.step2 form div.agree {
  border: 1px solid #ccc;
  padding: 50px;
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 16px;
  color: #666;
}

.step2 form h5 {
  color: #0079cc;
  margin-bottom: 10px;
}

.step2 form div.agree p {
  margin-bottom: 30px;
}

.step2 form div.agree>ul {
  margin-bottom: 15px;
}

.step2 form div.agree>ul>li {
  background: url(../images/bg_list_dot.gif) no-repeat 0 50%;
  text-indent: 10px;
  line-height: 1.8;
}

.step2 form div.agree>ul>li>span {
  color: #0799cc;
  font-size: 20px;
  text-decoration: underline;
}

.step2 form div.agree p:nth-last-of-type(1) {
  text-align: right;
}

.step2 form div.agree p:nth-last-of-type(2) {
  display: flex;
  justify-content: space-between;
}


/* 접수하기 */

.step2 form input[type="submit"] {
  display: block;
  width: 160px;
  height: 45px;
  margin: 0 auto;
  border: none;
  background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 75% 50%;
  color: #fff;
  text-align: center;
}

/* //content */

/* //container */



























/* footer */
/* foot_inner */
.foot_inner li {
  float: left;
}

.foot_inner a {
  color: #fff;
}

.foot_inner>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid#6c6f73;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* 
.foot_inner>div:first-of-type::after {
  content: "";
  display: block;
  clear: both;
} */

.foot_inner>div:first-of-type>ul:first-of-type {}

.foot_inner>div:first-of-type>ul:first-of-type>li {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}

.foot_inner>div:first-of-type>ul:first-of-type>li>a {
  font-size: 14px;
}

.foot_inner>div:first-of-type>ul:first-of-type>li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  width: 1px;
  height: 14px;
  background: #999;
}

.foot_inner>div:first-of-type>ul:first-of-type>li:last-child::after {
  display: none;
}

.foot_inner>div:first-of-type>ul:last-of-type {
  display: flex;
  align-items: center;
}

.foot_inner>div:first-of-type>ul:last-of-type>li {
  margin-left: 15px;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(-n+4)>a {
  display: block;
  width: 21px;
  height: 19px;
  background: url(../images/sns_link_ico.png)no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(n+5)>a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:first-child>a {
  background-position-x: 0;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(2)>a {
  background-position-x: -30px;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(3)>a {
  background-position-x: -60px;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(4)>a {
  background-position-x: -90px;
}


.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(5)>a {
  width: 44px;
  height: 30px;
  background: url(../images/footer_mark2.png) no-repeat center center;
  background-size: 100%;
}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(6)>a {
  width: 32px;
  height: 32px;
  background: url(../images/footer_mark1.png) no-repeat 0 0;
  background-size: cover;
}


.foot_inner>div:last-of-type {}

.foot_inner>div:last-of-type>ul {
  float: left;
  margin-bottom: 20px;
}

.foot_inner>div:last-of-type>ul>li {
  margin-right: 30px;
}

.foot_inner>div:last-of-type>ul>li>a {
  color: #ccc;
}

.foot_inner>div:last-of-type>ul>li:nth-child(3)>a {
  color: #00ccff;
}

.foot_inner>div:last-of-type>p {
  float: right;
  color: #ccc;
  font-size: 12px;
}

.foot_inner>div:last-of-type>address {
  clear: both;
  width: 420px;
  color: #ccc;
}

.foot_inner>div:last-of-type>address>span {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}

.foot_inner>div:last-of-type>address>span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  width: 1px;
  height: 12px;
  background: #ccc;
}

.foot_inner>div:last-of-type>address>span:nth-of-type(3)::after {
  display: none;
}

.foot_inner>div:last-of-type>address>span:nth-of-type(4)::after {
  display: none;
}


